/*General Styles*/
* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;

}

body {
  font-family: 'Open Sans', sans-serif !important;
  position: relative;
  color: #57595D;
}

h1 {
  text-align: center;
  font-size: 2.6rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 2rem;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

p {
  font-size: 1.3rem;
  line-height: 1.6;
}

img {
  display: block;
}

/*=================Navigation Styles===================*/
.container-fluid-nav {
  width: 80%;
  max-width: 1160px;
  border-bottom: 0px !important;
  margin: 0 auto;
}

.navbar {
  border: 0px;
}

#nav-scroll {
  border-bottom: 1px solid rgba(255,255,255, 0.5);
  transition: all 200ms ease-in;
}

.navbar-inverse {
  background-color: transparent;
  border-color: white;
  transition: all 200ms ease-in;
}

.navbar-inverse .navbar-nav > .active > a  {
  background-color: rgba(38, 86, 123, 0.8) !important;
}

.navbar-inverse .navbar-nav > .active > a:active  {
  background-color: rgba(38, 86, 123, 0.8) !important;
}

.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: rgba(38, 86, 123, 0.8) !important;
}

.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: rgba(38, 86, 123, 0.8) !important;
}

.navbar ul li a {
  color: rgba(255, 255, 255, 1)!important;
  font-weight: 300;
  text-transform: uppercase;
  transition: all 200ms ease-out !important;
  -webkit-transition: border-bottom 100ms;
}

.navbar ul li a:hover {
  background-color: rgba(38, 86, 123, 0.8) !important;
}

.navbar ul li a:active {
  background-color: rgba(38, 86, 123, 0.8) !important;
}

.navbar ul li a:focus {
  background-color: rgba(38, 86, 123, 0.8) !important;
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}

.navbar-brand a {
  color: white;
  text-decoration: none;
}

.navbar-brand p {
  padding-top: 0.6rem;
}

.xs-only {
  display: none;
}

.navbar-toggle {
  border: 1px solid white !important;
  background-color: rgb(31, 63, 84)!important;
}

.navbar-toggle:hover {
  background-color: #395E96 !important;
}

.navbar-toggle:focus {
  background-color: #23395B !important;
}

.navbar-right {
  margin-right: 0;
}

/*===============Homepage Jumbotron Styles==============*/
#jumbo-home {
  background-image: url(../img/background.jpg);
  background-size: cover;
  height: 100vh;
}

#jumbo-home h1 {
  font-family: 'Oswald', sans-serif;
  /* text-shadow: 1px 1px 1px #d3d3d3; */
  color: white;
  text-align: center;
  font-size: 4.3rem;
  padding: 0 1rem;
  margin-bottom: 0;
}

#jumbo-home h2 {
  font-family: 'Open sans', sans-serif;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

.jumbo-home-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

.jumbo-box {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(38, 86, 123, 0.8) !important;
  border-radius: 3px;
  width: 55%;
  margin-bottom: 8rem;
  padding: 3rem 0;
  /* max-height: 85vh; */
}

.page-scroll {
  display: block;
  text-align: center;
  transition: all 200ms ease-out;
}

.page-scroll a:hover {
  color: white !important;
  background-color: #395E96;
  background-color: rgba(255,255,255,0.1);
}

.btn-circle {
  font-size: 2.2rem;
  color: white;
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding:0;
  border: 2px solid white;
  border-radius: 50%;
}

.fa-angle-double-down {
  padding: 0;
}

/*=================About Styles==================*/
.about-sec {
  padding-top: 4rem;
  min-height: 95vh;
}

.img-me {
  width: 200px;
  height: 200px;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 19px 0px rgba(50, 50, 50, 0.45);
  margin-bottom: 3rem;
}

img {
  display: block;
  margin: 0 auto;
}

.story {
  text-align: justify !important;
  /*width: 100%;*/
}

.fa-bullhorn, .fa-cog, .fa-laptop {
  padding: 0;
  font-size: 1.3rem;
}

.table-wrapper {
  margin-top: 3rem;
}

.table {
  width: 90%;
  float: right;
  font-size: 1.1rem;
}

th, tr {
  width: 25%;
}

.cell-center {
  text-align: center;
}

/*=============Portfolio Styles==================*/
.portfolio-sec {
  padding-top: 4rem;
  min-height: 95vh;
}

.project-detail {
  padding: 0 0.5rem;
  padding-top: 1rem;
}

.portfolio-img-container {
  position: relative; /*new declaration*/
  overflow: hidden;
  box-shadow: 1px 0px 1px lightgray;
}

.portfolio-img-container img {
  opacity: 0.9;
  width: 100%;
  transition: scale, 0.5s;
  padding-top: 0;
}

/*hover zoom effect*/
/*.portfolio-img-container img:hover {
  transform: scale(1.3, 1.3);
  opacity: 1;
}*/

.project-des {
  position: absolute;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  width: 100%;
  height: 100%;
  background-color: rgba(55, 151, 194, 0.9);
  background-color: rgba(38, 86, 123, 0.8);
  color: white;
  text-align: center;
  display: none;
  z-index: 10;
}

.project-des h4 {
  margin-top: 0;
  padding-top: 1rem;
  font-weight: bold;
  font-size: 1.285rem;
}

.project-des p {
  font-size: 1.2rem;
}

.project-des i {
  font-size: 3rem;
  font-weight: 100;
  padding: 0.3rem 0;
}

/*=================Contact Styles==================*/
.contact-footer-wrapper {
  min-height: 95vh;
  padding-top: 5rem;
  width: 100%;
}

.contact-sec {
  min-height: 62vh;
  /* height: auto; */
}

.contact-details {
  text-align: center;
}

.contact-details p {
  margin: 2rem;
}

.contact-details a {
  /*color: #333;*/
  color: white !important;
  text-decoration: none;
  transition: all 250ms ease-out;
}

.contact-details a:hover {
  border-bottom: 1px solid rgba(38, 86, 123, 0.8);
}

.linkedin {
  text-align: center;
  margin-top: 3rem;
}

.btn-linkedin {
  display: block;
  padding: 0 2rem;
  margin: 0.6rem auto 2rem auto;
  font-size: 2rem;
  width: 10rem;
  height: 3.5rem;
  border: 1px solid #0077B5;
  border-radius: 3px;
  color: #0077B5;
  transition: all 250ms ease-out;
}

.btn-linkedin:hover {
  border: 1px solid #0077B5;
  color: white;
  background-color: #0077B5;
}

.i-linkedin {
  padding: 0;
}

/*=================Footer Styles==================*/
.footer {
  position: relative;
  height: auto;
  width: 100%;
  background-image: url(../img/background_bot_flip.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  min-height: 34vh;
}

.copy-logo-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(31, 63, 84)!important;
  height: 50px;
  z-index: 5;
  margin: 0;
  padding: 0;
}

.copy-icon-wrapper {
  margin: 0 auto;
  font-size: 1.8rem;
  color: white;
  width: 80%;
}

.copyright {
  float: left;
  display: inline-block;
  padding-top: 1.2rem;
}

.copyright p {
  font-size: 1rem;
  line-height: 1rem;
}

.contact-details a {
  color: #57595D !important;
}

.contact-icons {
  float: right;
}

.contact-icons a {
  color: white;
  padding: 0.37rem 0.2rem 0.6rem 0.2rem;
  transition: all 250ms ease-out;
}

.fb-like {
  display: inline-block;
}

.contact-icons a:hover {
  background-color: rgba(55, 151, 194, 0.2);
}

i {
  padding: 0.8rem 0.5rem;
}

/*====================Media Queries===================*/
@media only screen and (max-width: 1199px) {
  .jumbo-box {
    width: 800px;
  }

  .faq-sec {
    height: auto;
  }
}

@media only screen and (max-width: 992px) {
  .jumbo-box {
    width: 70%;
  }

  .portfolio-sec {
    width: 80%;
    height: auto;
  }

  .about-sec {
    height: auto;
  }

  .table {
    width: 100%;
  }
}

@media only screen and (max-width: 830px) {
  .carousel-caption h1 {
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 5%;
  }

  .carousel-caption p {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-inverse {
    background-color: rgb(31, 63, 84);
    border-color: rgb(31, 63, 84);
  }

  #jumbo-home {
    width: 100%;
    height: auto;
  }

  .about-details {
    width: 65%;
  }

/*Portfolio Styles*/
  .portfolio-img-container {
    width: 90%;
    margin: 0 auto;
  }

  .project-des h4 {
    font-size: 1.6rem;
  }

  .project-des p {
    font-size: 1.5rem;
  }

  .project-des i {
    font-size: 4rem;
  }

/*About Styles*/
  .about-sec {
    height: auto;
    padding-top: 4rem;
  }

/*Contact Styles*/
  .contact-sec {
    padding-top: 2rem;
  }

  .contact-form {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

@media only screen and (orientation: landscape) and (max-width: 736px) {
  .jumbo-box {
    top: 0;
  }
}

@media only screen and (max-width: 576px) {
/*General Styles*/
  html {
    font-size: 13px;
  }

  .jumbo-box {
    width: 90%;
  }

  .table {
    font-size: 1rem;
  }

  .lg-only {
    display: none;
  }

  .xs-only {
    display: block;
  }

/*Portfolio Styles*/
  .project-detail p, .project-detail h4 {
    font-size: 1.4rem;
  }

  .project-des i {
    font-size: 2.8rem;
  }

/*About Styles*/
  .img-me {
    width: 170px;
    height: 170px;
    margin-bottom: 2.5rem;
  }

  .intro h3 {
    font-size: 1.6rem;
  }

  .copyright {
    padding-top: 1.1rem;
  }

  .contact-icons a {
    padding: 0.4rem 0.2rem 1.1rem 0.2rem;
  }

@media only screen and (max-width: 470px) {
/*General Styles*/
  html {
    font-size: 10px;
  }

  .jumbo-box {
    width: 100%;
  }

  .copyright {
    padding-top: 1.6rem;
  }

  .contact-icons {
    padding: 0.6rem;
  }

  .contact-icons a {
    padding: 1.05rem 0.2rem 1.5rem 0.2rem;
  }
}
